.flipkart-footer{
background:#1f1f1f;
color:#ccc;
padding-top:40px;
font-size:14px;
}
.footer-top{
display:flex;
justify-content:space-between;
max-width:1300px;
margin:auto;
gap:40px;
padding:20px;
border-bottom:1px solid #444;
flex-wrap:nowrap;
}

.footer-col{
flex:1;
min-width:150px;
}

.footer-col h4{
color:#878787;
margin-bottom:15px;
font-size:13px;
}

.footer-col p{
margin:6px 0;
cursor:pointer;
}

.footer-col p:hover{
color:white;
}

.footer-contact p{
line-height:1.6;
}

.footer-social{
display:flex;
gap:15px;
margin-top:10px;
font-size:18px;
}

.footer-bottom{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
align-items:center;
max-width:1300px;
margin:auto;
padding:15px 20px;
color:#ccc;
}

.footer-bottom div{
cursor:pointer;
}

.footer-bottom div:hover{
color:white;
}

.copyright{
color:#aaa;
}