/* LOGIN PAGE BACKGROUND */
.login-container{
  background:#f1f3f6;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* LOGIN CARD */
.login-card{
  width:380px;
  background:#ffffff;
  padding:35px;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

/* TITLE */
.login-card h3{
  font-weight:600;
  color:#212121;
}

/* INPUT FIELDS */
.login-card .form-control{
  height:45px;
  border-radius:6px;
  border:1px solid #ddd;
  font-size:14px;
}

.login-card .form-control:focus{
  border-color:#2874f0;
  box-shadow:none;
}

/* LOGIN BUTTON */
.login-card .btn-primary{
  background:#fb641b;
  border:none;
  height:45px;
  font-weight:600;
  font-size:15px;
}

.login-card .btn-primary:hover{
  background:#e65a14;
}

/* SIGNUP TEXT */
.login-card p{
  font-size:14px;
  color:#555;
}

.login-card a{
  color:#2874f0;
  font-weight:500;
  text-decoration:none;
}

.login-card a:hover{
  text-decoration:underline;
}